
.editor{

    border: 2cm;
    font-size: 22px;
    text-align: left;
    margin-top: 0.2cm;
    margin-left:0.2cm;
  height: 100vh;
  width: 100vw;


}
.topnav {
    /* overflow: hidden; */
    background-color: #333;
    padding: 5px 5px;
    font-size: 15px;
}

.btn{
    margin-top: 0.4rem;
    margin-bottom: 0.4rem;
    margin-right: 0;
    size: 0.5cm;
    font-size: 13px;
    border-radius: 5px;
    font-family: "Muli", Arial, sans-serif;
    font-weight: 800;
    text-transform: uppercase;
    padding: 0.6rem 1rem;
    color: white;
    box-shadow: 0 0;
    background-color: grey;
}